<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <p>Resource(s): [[ _floor(resources) ]]</p>
      <p>Resource(s) Per Second: [[ _round(resourcesPerSecond) ]]</p>
      <button on-click="generate">Generate</button>

      <template is="dom-repeat" items="[[ state.generators ]]">
        <div>[[ item.count ]] - <button on-click="buyGenerator" disabled$="[[ _buyGeneratorDisabled(resources, item.id) ]]">Buy [[ item.name ]] Generator</button></div>
      </template>
    </div>
  </template>

  <script>
    class MyView1 extends Polymer.Element {
      constructor() {
        super();

        // Update all the values at regular intervals because our available resources change
        // over time if there are any generators.
        this.intervalId = setInterval(() => {
          this._updateProperties();
        }, 50);
      }

      static get is() { return 'my-view1'; }

      static get properties() {
        return {
          model: {
            type: Object,
            observer: "_modelChanged"
          },
          state: Object
        };
      }

      _modelChanged(newValue, oldValue) {
        this._updateProperties();

        this.unsubscribe = newValue.store.subscribe(() => {
          // Update all the values any time the model notifies subscribers of changes.
          this._updateProperties();
        });
      }

      generate() {
        this.model.generate();
      }

      _updateProperties() {
        this.resources = this.model.getResources();
        this.resourcesPerSecond = this.model.getResourcesPerSecond();

        this.state = this.model.store.getState();
      }
      
      _floor(value) {
        return Math.floor(value);
      }

      _round(value) {
        return value.toFixed(1);
      }

      _buyGeneratorDisabled(resources, level) {
        return !this.model.canBuyGenerator(resources, level);
      }

      buyGenerator(e) {
        let generator = e.model.item;
        this.model.buyGenerator(generator.id);
      }
    }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
